<!-- Riven Modal -->
<div class="modal fade" id="rivenModal" tabindex="-1" role="dialog" aria-labelledby="rivenModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content form-group">
      <form class="form-group" action="/add-riven" method="post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Enter Item Info</h4>
        </div>
        <div class="modal-body">
              <div class="form-group">
                <script type="text/javascript">
                $('#rivenModal').on('show.bs.modal', function (e) {
                  var invoker = $(e.relatedTarget);
                  var owner = invoker.val();
                  document.getElementById("riven_owner").value = owner;
                  });
                </script>
                  <label class="control-label" for="riven_name">Name:</label>
                  <input class="form-control" name="riven_name" id="riven_name" required>
                  <label class="control-label" for="item_stat1">Stat 1:</label>
                  <input class="form-control" name="item_stat1" id="item_stat1">
                  <label class="control-label" for="item_stat2">Stat 2:</label>
                  <input class="form-control" name="item_stat2" id="item_stat2">
                  <label class="control-label" for="item_stat3">Stat 3:</label>
                  <input class="form-control" name="item_stat3" id="item_stat3">
                  <label class="control-label" for="item_stat4">Stat 4:</label>
                  <input class="form-control" name="item_stat4" id="item_stat4">
                  <label class="control-label" for="item_mr">MR:</label>
                  <input class="form-control" name="item_mr" id="item_mr">
                  <label class="control-label" for="item_reroll">Reroll:</label>
                  <input class="form-control" name="item_reroll" id="item_reroll">
                  <input type='hidden' name="item_owner" id="riven_owner">
              </div>
        </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-success" type="submit" name="button">Submit Riven</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</form>
</div>

<!-- item Modal -->
<div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="buyModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content form-group">
      <form class="form-group" action="/add-item" method="post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Enter Item Info</h4>
        </div>
        <div class="modal-body">
              <div class="form-group">
                <script type="text/javascript">
                $('#buyModal').on('show.bs.modal', function (e) {
                  var invoker = $(e.relatedTarget);
                  var presplit = invoker.val();
                  var split = presplit.split("-");
                  var owner = split[1];
                  var type = split[0];
                  
                  
                  document.getElementById("modal_type").value = type;
                  document.getElementById("item_owner").value = owner;
                  });
                </script>
                  <label class="control-label" for="item_name">Name:</label>
                  <input class="form-control" name="item_name" id="item_name" required>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="item_blueprint" id="item_blueprint">Blueprint
                    </label>
                  <label>
                    <input type="checkbox" name="item_chassis" id="item_chassis">Chassis
                  </label>
                  <label>
                    <input type="checkbox" name="item_systems" id="item_systems">Systems
                  </label>
                  <label>
                    <input type="checkbox" name="item_neuroptics" id="item_neuroptics">Neuroptics
                  </label>
                  <label>
                    <input type="checkbox" name="item_barrel" id="item_barrel">Barrel
                  </label>
                  <label>
                    <input type="checkbox" name="item_receiver" id="item_receiver">Receiver
                  </label>
                  <label>
                    <input type="checkbox" name="item_stock" id="item_stock">Stock
                  </label>
                  <label>
                    <input type="checkbox" name="item_lowerlimb" id="item_lowerlimb">Lowerlimb
                  </label>
                  <label>
                    <input type="checkbox" name="item_upperlimb" id="item_upperlimb">Upperlimb
                  </label>
                  <label>
                    <input type="checkbox" name="item_string" id="item_string">String
                  </label>
                  <label>
                    <input type="checkbox" name="item_grip" id="item_grip">Grip
                  </label>
                  <label>
                    <input type="checkbox" name="item_blade" id="item_blade">Blade
                  </label>
                  <label>
                    <input type="checkbox" name="item_blade2" id="item_blade2">Blade2
                  </label>
                  <label>
                    <input type="checkbox" name="item_head" id="item_head">Head
                  </label>
                  <label>
                    <input type="checkbox" name="item_handle" id="item_handle">Handle
                  </label>
                  <label>
                    <input type="checkbox" name="item_handle2" id="item_handle2">Handle2
                  </label>
                  <label>
                    <input type="checkbox" name="item_gauntlet" id="item_gauntlet">Gauntlet
                  </label>
                  <label>
                    <input type="checkbox" name="item_gauntlet2" id="item_gauntlet2">Gauntlet2
                  </label>
                  <label>
                    <input type="checkbox" name="item_hilt" id="item_hilt">Hilt
                  </label>
                  <label>
                    <input type="checkbox" name="item_heatsink" id="item_heatsink">Heatsink
                  </label>
                  <label>
                    <input type="checkbox" name="item_disc" id="item_disc">Disc
                  </label>
                  <label>
                    <input type="checkbox" name="item_cerebrum" id="item_cerebrum">Cerebrum
                  </label>
                  <label>
                    <input type="checkbox" name="item_carapace" id="item_carapace">Carapace
                  </label>
                </div>
                  <input type='hidden' name="item_owner" id="item_owner">
                  <input type='hidden' name="modal_type" id="modal_type">
              </div>
        </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-success" type="submit" name="button">Submit Item</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</form>
</div>