.tbl-del, .player-edit, .buy-edit, .sell-edit, .add-item, .float-btn {
  float: right;
}

.tbl-del {
  margin-bottom: 0px;
}

.count-col {
  width: 5%;
}

.button-col {
  width: 20%;
}

.al_right {
  text-align: right;
}

.inner-table {
  margin-bottom: 0px;
}

.blue {
  background-color: darkgrey;
  color: black;
}